html {
  font-family: 'Crimson Text', serif;
}
body {
  background-image: url("images/blurred-4k-bg.png");
  background-size: cover;
  margin: 0;
  padding: 0;
}
.h1-wait {
  margin-top: 40vh;
  font-size: 60px;
}
.image-demo {
  margin-top: 5vh;
  box-shadow: 0 0 30px #36393f;
  transition: all 1s;
}
.image-demo:hover {
  box-shadow: 0 0 50px #36393f;
  transform: scale(1.03);
}
h1 {
  line-height: .8vh;
  color: #222;
  font-size: 50px;
  color: #5f5151;
}
p {
  color: #5f5151;
  font-size: 24px;
  transform: translateZ(20px);
  width: 30vw;
}
psmaller {
  font-size: 18px;
  width: 15vw;
}

/* NAVBAR */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #4f4141;
  opacity: .7;
  pointer-events: none;
  transition: all 1s;
}

ul:hover {
  opacity: 1;
}

li {
  float: left;
  cursor: pointer;
  pointer-events: auto;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px 16px 16px;
  text-decoration: none;
  font-family: 'Crimson Text', sans-serif;
  font-size: 20px;
  transition: all .5s;
}

li a:hover {
  background-color: #5f5151;
}

li a.active {
  background: #3f3131;
}
.image-logo {
  margin-top: 5vh;
}

a:active {
  color: #5f5151;
}