html {
	color: #5f5151
}
.navbar {
	padding: 16px 24px 13px 24px !important;
	font-family: 'Josefin Sans', sans-serif;
	text-transform: uppercase;
}
.navbar:hover {
	background: #00a596 !important;
	color: white !important;
	box-shadow: inset 0 5px 50px rgba(0,0,0,.1) !important;
}
.active {
	background: #007a6f !important;
	box-shadow: inset 0 5px 50px rgba(0,0,0,.1) !important;
}
.active:hover {
	background: #007a6f !important;
}
li {
	border: none !important;
}
button {
	padding: 16px 24px 13px 24px !important;
	font-family: 'Josefin Sans', sans-serif;
	text-transform: uppercase;
	outline: none;
}
button:hover {
	box-shadow: inset 0 5px 50px rgba(0,0,0,.1) !important;
}
.imageModalLink {
	text-decoration: underline;
	cursor: pointer;
}
.disabled_input {
	background: lightgrey;
}
.w3-modal-content {
	box-shadow: 0 0 50px rgba(0,0,0,.2) !important;
}
iframe {
	background: lightgrey;
}
.w3-code {
	border-left:4px solid #009688 !important;
}
input {
	margin-top: 24px !important;
	margin-bottom: 24px !important;
}
.heart-icon {
	color: ;
}